<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangming.mapper.ArticleMapper">
	<!-- 用于联合查询  给对象进行赋值 -->
	<resultMap type="article" id="articleMap">
		<association property="user" column="user_id" select="com.wangming.mapper.UserMapper.getUser"></association>
		<association property="category" column="category_id" select="com.wangming.mapper.CategoryMapper.getById"></association>
		<association property="channel" column="channel_id" select="com.wangming.mapper.ChannelMapper.getById"></association>
	</resultMap>
	<!-- 获取一个文章 -->
	<select id="newList" resultType="article">
		SELECT id,title FROM cms_article
			WHERE deleted = 0 AND status = 1
		ORDER BY created DESC limit ${value}
	</select>
	
	<!-- 获取热门文章 -->
	<select id="hotList" resultMap="articleMap">
		SELECT 
			id,title,channel_id,category_id,user_id,hits,created,commentCnt,picture
		FROM cms_article WHERE deleted = 0 AND status = 1 AND hot = 1
			ORDER BY created DESC
	</select>
	
	<!-- 根据文章id获取文章对象 -->
	<select id="getArticleList" resultMap="articleMap">
		SELECT * FROM cms_article WHERE id = ${value}
			AND deleted = 0 AND status = 1;
	</select>
	<!-- 获取所有文章对象  用于上一篇下一篇 -->
	<select id="getWritings" resultMap="articleMap">
		SELECT * FROM cms_article WHERE
			deleted = 0 AND status = 1;
	</select>
	<!-- 获取否一个类型的小类型 -->
	<select id="getCategoryId" resultMap="articleMap">
		SELECT 
			id,title,channel_id,category_id,user_id,hits,created,commentCnt,picture
		FROM cms_article WHERE deleted = 0 AND status = 1 AND channel_id = #{channelId}
		<if test="categoryId != 0">
			AND category_id = ${categoryId}
		</if>
		ORDER BY created DESC
	</select>
	<!-- 根据用户id获取该用户的所有文章 -->
	<select id="getUserById" resultMap="articleMap">
		SELECT 
			id,title,channel_id,category_id,user_id,hits,created,commentCnt,status
		FROM cms_article WHERE deleted = 0 AND user_id = ${value}
		ORDER BY created DESC
	</select>
	<!-- 获取所有文章 用于管理员查看 -->
	<select id="getArticle" resultMap="articleMap">
		SELECT 
			id,title,channel_id,category_id,user_id,hits,created,commentCnt,status,hot
		FROM cms_article WHERE deleted = 0
		<if test="value != -1">
			AND status = ${value};
		</if>
		ORDER BY created DESC
	</select>
	
	<select id="getDetailArticle" resultMap="articleMap">
		SELECT * FROM cms_article WHERE id = ${value} AND deleted = 0
	</select>
	
	<update id="updateStatus">
		UPDATE cms_article 
		<set>
			<choose>
				<when test="status == 1">
					status = 1
				</when>
				<when test="status == 2">
					status = 2
				</when>
				<when test="status == 3">
					hot = 1
				</when>
				<when test="status == 4">
					hot = 0
				</when>
			</choose>
		</set>
		WHERE id = ${id}
	</update>
</mapper>