<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangming.mapper.UserMapper">
	<resultMap type="User" id="userMap">
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<resultMap type="collect" id="collectMap">
		<association property="article" javaType="article" column="articleId" select="getArticleList">
		</association>
	</resultMap>
	<select id="userList" resultMap="userMap">
		SELECT * FROM cms_user
			<where>
				<if test="null != value and value != ''">
					username like '%${value}%'
				</if>
			</where>
	</select>
	
	<select id="getUser" resultType="user">
		SELECT * FROM cms_user WHERE id = ${value}
	</select>
	
	<insert id="register">
		<!-- nickname 昵称
			locked  上锁
			role 角色
		 -->
		INSERT INTO cms_user(username,password,nickname,birthday
                           ,gender,locked,create_time,update_time,url,score,role) 
		      values(#{username},#{password},#{nickname},#{birthday},
		       #{gender},0,now(),now(),'',0,#{role}) 
	</insert>
	
	
	<select id="login" resultType="user">
		SELECT * FROM cms_user WHERE username = #{username} and password = #{password}
	</select>
	
	<delete id="deleteArticle">
		<!-- DELETE FROM cms_article where id = ${value} -->
		UPDATE cms_article SET deleted = 1 where id = ${value}
	</delete>
	
	<insert id="addUserArticle">
		INSERT INTO cms_article SET 
			title = #{title},
			content = #{content},
			picture = #{picture},
			channel_id = #{channelId},
			category_id = #{categoryId},
			user_id = #{userId},
			hot = 0,
			status = 0,
			deleted = 0,
			created = now(),
			updated = now()
	</insert>
	
	<update id="updateUserArticle">
		UPDATE cms_article SET 
			title = #{title},
			content = #{content},
			picture = #{picture},
			channel_id = #{channelId},
			category_id = #{categoryId},
			hot = 0,
			status = 0,
			deleted = 0,
			created = now(),
			updated = now()
		WHERE id = ${id}
	</update>
	
	<insert id="addImage">
		INSERT INTO cms_article SET
			title = #{title},
			content = #{content},
			picture = #{picture},
			channel_id = #{channelId},
			category_id = #{categoryId},
			user_id = #{userId},
			hits = #{hits},
			hot = #{hot},
			status = 0,
			deleted = 0,
			created = now(),
			updated = now(),
			commentCnt = #{commentCnt},
			articleType = #{articleType.ordinal}
	</insert>
	
	<select id="getCollectList" resultMap="collectMap">
		SELECT * FROM cms_collect WHERE userId = #{value}
	</select>
	
	<select id="getArticleList" resultType="article">
		SELECT id,title FROM cms_article WHERE id = #{articleId}
			AND deleted = 0 AND status = 1;
	</select>
</mapper>